@use 'variables';
@use 'mixins';

.site-footer {
  background: variables.$footer-bg;
  color: variables.$footer-text;
  padding: variables.$gap * 2 0;
  margin-top: auto;

  .container {
    display: flex;
    justify-content: center;
  }
  .social-links {
    list-style: none;
    display: flex;
    gap: variables.$gap * 1.5;

    a {
      color: variables.$footer-text;
      text-decoration: none;
      @include mixins.transition(opacity);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
