@use 'variables';

.hero {
  background: variables.$violet;
  color: variables.$white;
  padding: variables.$gap;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}
